@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.bg-purple{
    background-color: palevioletred
}
.iconos{
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: white;
}

h1{
    font-family: 'Lobster', cursive;
    color: darkred
}

.titulo{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: 800;
}

.img-titulo{
    border-radius: 20%;
    border-color: crimson;
}

#contacto{
    margin: auto;
    text-align: center;
}


.bg-salmon{
    background-color:#EBEDE9;

}

p{
    line-height: 3rem;
    font-size: 20px;
}